@import "tailwindcss";
@source "../index.html";
@source "./**/*.{html,ts,tsx}";

@font-face {
  font-family: "Vinque";
  src: url("./vinque-rg.otf");
}

:root {
  --beige-100: #eee0c7;
  --beige-200: #fff0db;
  --beige-300: #eed9c4;
  --beige-400: #e4d5b7;
  --beige-500: #d9b99b;
  --eon-red: #8c0318;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
  color: #444;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.fg-eon-red {
  color: var(--eon-red);
}

@for $var from 1 to 5 {
  .bg-beige-#{$var * 100} {
    background-color: var(--beige-#{$var * 100});
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--eon-red);
  font-family: Vinque, Cormorant, serif;
  font-weight: 400;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

input {
  height: 2rem;
}

input,
textarea {
  border: 1px solid #e5e7eb;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input:hover,
input:active,
textarea:hover,
textarea:active {
  border-color: #d1d5db;
}

.table-condensed {
  th,
  td {
    padding: 0.25rem;
  }
}

.dice {
  input {
    height: 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 2rem;
  }
}

.button-group {
  color: var(--eon-red);
  display: flex;

  > * {
    border: 1px solid #e5e7eb;
    border-right-width: 0;
    padding: 0.25rem 0.5rem;
  }

  > *:hover {
    background-color: #f3f4f6;
  }

  > *:active {
    background-color: #e5e7eb;
  }

  > *:first-child {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  > *:last-child {
    border-bottom-right-radius: 0.5rem;
    border-right-width: 1px;
    border-top-right-radius: 0.5rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}